# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\q求职\changgou\changgou_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
